@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertoModel
@{
  var aeropuerto = Model.Aeropuerto;
}
 
<div class="text-center">
<form method ="POST">
  
  <label for="nombre" class="form-label" align="left">Nombre: </label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="ciudad" class="form-label" align="left">Ciudad: </label>
  <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad">
  <label for="pais" class="form-label">Pais:</label>
  <input type="text" class="form-control" id="pais" name="Pais" placeholder="Pais">
  <label for="coordx" class="form-label">Coordenada X:</label>
  <input type="number" class="form-control" id="coordx" name="coordx" placeholder="Coordenada X">
  <label for="coordy" class="form-label">Coordenada Y:</label>
  <input type="number" class="form-control" id="coordy" name="coordx" placeholder="Coordenada Y">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
