@page
@{
}
 <h1>Registro de Aviones</h1>
<div class="text-center">
<form action="#">
  <label for="marca" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca del Avion">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo del Avion">
  <label for="numbanos" class="form-label">Numero de Baños:</label>
  <input type="number" class="form-control" id="numbanos" name="numbanos" placeholder="Numero de Baños">
  <label for="numasientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="numasientos" name="numasientos" placeholder="Numero de Asientos">
  <label for="capacidad" class="form-label">Capacidad de Carga:</label>
  <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="Capacidad de Carga">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>