@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
            <form method="POST">
            <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@bus.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>


