@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 color:"yellow" class="display-4">Star Ten</h1>
    <img src="~/images/logo1.png" alt="Enterprise Ship" width="400"
     height="341">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
